@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTS55F.ttf') format(truetype);
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTS56F.ttf') format(truetype);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTS75F.ttf') format(truetype);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "PT Sans";
    src: url('../fonts/PTS76F.ttf') format(truetype);
    font-style: italic;
    font-weight: bold;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 1230px;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
    
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    background-color: rgb(242, 242, 242);
}

.main-wrapper {
    width: 1200px;
    min-height: 100%;
    margin: 0 15px;
    background-color: rgb(255, 255, 255);
}

a {
    color: inherit;
    text-decoration: none;
}


/* ==========================================================================
 *  Header 
 * ========================================================================== */


#header {
    width: 100%;
    min-height: 56px;
}

/* Nav Menu */

#main-navigation{
    position: relative;
    background-color: rgb(255, 255, 255);
}

#main-navigation ul {
    margin: 0;
    padding: 0;
}

#main-navigation ul li {
    list-style: none;
}

#main-navigation a {
    float: left;
    width: 20%;
    min-height: 56px;
    font-weight: bold;
    padding: 13px 0;
    line-height: 26px;
}

#main-navigation a.current,
#main-navigation a.current:hover,
#main-navigation a.current:active {
    color: rgb(118, 99, 87);
}


#main-navigation a:hover {
    color: rgb(129, 179, 210);
}

#main-navigation a:active {
    color: rgba(0, 0, 0, 0.2);
}

#main-navigation .logo {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 138px;
    height: 70px;
    margin-left: -69px;
    padding: 0;
    z-index: 100;
}

/* END Nav Menu */


/* ============= /END Header ============================================================= */


/* ==========================================================================
 *  Main 
 * ========================================================================== */

/* Main Image */

/* #main {
    padding-bottom: 120px;
} */

#main .welcome-image {
    width: 100%;
    height: 507px;
    position: relative;
    overflow: hidden;
}

.welcome-image img {
    position: absolute;
    top: -56px;
    left: 0;
}

/* END Main Image */

/* City Description */

/* City Slogan */

#main .city-description .city-slogan {
    min-height: calc(215px - 112px);
    background-color: rgb(255, 255, 255);
    width: 576px;
    margin: 0 auto;
    margin-bottom: 52px;
}

.city-description .city-slogan h2 {
    margin-top: 60px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.city-description .city-slogan p {
    font-size: 14px;
    margin-top: 26px;
    line-height: 26px;
}

/* END City Slogan */

/* City Description Features */

.city-description-features .city-description-feature {
    min-height: 256px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.city-description-features .feature-item {
    float: left;
    width: 33.33%;
    min-height: 256px;
    background-color: rgb(129, 179, 210);
    color: rgb(255, 255, 255);
}

.city-description-features .feature-img {
    float: left;
    width: calc(100% - 33.33%);
    height: 256px;
    overflow: hidden;
}

.feature-item h3 {
    padding: 39px 5px 18px 5px;
    width: 170px;
}

.feature-item .feature-number {
    width: 70px;
    padding: 0 20px;
    position: relative;
}

.feature-item .feature-number::before,
.feature-item .feature-number:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 11px;
    width: 10px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

.feature-item .feature-number:after {
    left: 52px;
}

.feature-item .feature-slogan {
    padding-top: 15px;

}

/* Services */

.services {
    font-size: 0;
}

.services .service-item {
    display: inline-block;
    vertical-align: top;
    padding: 60px 0 60px 0;
    width: 33.33%;
    min-height: 330px;
}

.feature-item p,
.services .service-item p {
    font-size: 14px;
    width: 300px;
    padding: 23px 5px;
    margin: 0 auto;
}

.feature-item h3,
.services .service-item h4 {
    font-size: 21px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 11px;
    line-height: 21px;
}

.services .service-item .service-icon {
    min-height: 90px;
}

.services .service-item .service-icon img {
    margin: 0 auto;
}

/* END Services */

.description-feature-small-items .feature-item {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

.description-feature-small-items .feature-item p {
    color: rgb(51, 51, 51);
}

.description-feature-small-items .feature-item .feature-number::before,
.description-feature-small-items .feature-item .feature-number::after {
    background-color: rgba(0, 0, 0, 0.4);
    top: 10px;
}

/* END City Description Features */

/* END City Description */

/* Hotel Search */

.hotel-search {
    min-height: 883px;
}

.hotel-search-content {
    min-height: 293px;
    padding-top: 45px;
}

.hotel-search-content .question {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin: 9px 0 28px 0;
}

.hotel-search-content p:not(.question) {
    margin: 4px 0;
}

.hotel-search-content .form-title-button {
    display: block;
    margin: 0 auto;
    margin-top: 49px;
    height: 86px;
    width: 570px;
    background-color: rgb(118, 99, 87);
    line-height: 86px;
    font-size: 21px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.hotel-search-content .form-title-button:hover,
.hotel-description .button-book:hover {
    background-color: rgb(96, 78, 57);
}

.hotel-search-content .form-title-button:active,
.hotel-description .button-book:active {
    background-color: rgb(80, 62, 51);
    color: rgba(255, 255, 255, 0.5);
}


.hotel-search .map-img {
    position: relative;
    /* height: 593px; */
    height: 473px;
    background: rgb(203, 221, 169) url("../img/map.jpg") no-repeat 0 0;

}

.modal-content-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 23px;
    height: 23px;
    border: none;
    font-size: 0;
    cursor: pointer;
    background: none;
    padding: 0;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    width: 4px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}


.hotel-search-form {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -285px;
    width: 570px;
    height: 395px;
    padding: 56px 52px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 0 30px 50px rgba(65, 42, 42, 0.7);
}

.hotel-search-form-show {
    display: block;
}

.hotel-search-form p {
    margin: 0;
    margin-bottom: 30px;
}

.hotel-search-form label {
    position: relative;
}

.hotel-search-form input {
    font-weight: inherit;
    border: none;
    height: 38px;
    background-color: rgb(242, 242, 242);
}

.hotel-search-form input[type="date"] {
    width: 346px;
    padding: 0 40px 0 20px;
    position: relative;
}

.hotel-search-form input[type="date"]:hover {
    background-color: rgb(235, 235, 235);
}

.hotel-search-form input[type="date"]:focus {
    background-color: none;
    border: 1px solid rgb(235, 235, 235);
}

.hotel-search-form .label-date-in::after,
.hotel-search-form .label-date-out::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 21px;
    top: 0px;
    left: 420px;
    background: url("../img/icon-calendar.png") no-repeat 50% 50%;
    z-index: 100;
}

.hotel-search-form label:not(.adults):not(.children) {
    margin-right: 17px;
}

.hotel-search-form input[type="text"] {
    width: 115px;
    /* padding: 0 42px; */
    text-align: center;
    position: relative;
}

.hotel-search-form .adults {
    float: left;
    width: 230px;
    /* margin-right: 50px; */
}

.hotel-search-form .children {
    float: right;
    width: 176px;
}

.hotel-search-form .children::before {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 100;
    background: url("../img/minus.png") no-repeat 50% 50%;
}

.hotel-search-form .adults::before {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 94px;
    z-index: 100;
    background: url("../img/minus.png") no-repeat 50% 50%;
}

.hotel-search-form .children::after {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 127px;
    z-index: 100;
    background: url("../img/plus.png") no-repeat 50% 50%;
}

.hotel-search-form .adults::after {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 171px;
    z-index: 100;
    background: url("../img/plus.png") no-repeat 50% 50%;
}

.hotel-search-form .button-search-form {
    width: 458px;
    height: 58px;
    text-align: center;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    border: none;
    background: rgb(129, 179, 210);
    line-height: 30px;
    font-size: 21px;
    line-height: 58px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 21px;
}

.hotel-search-form .button-search-form:hover,
.hotel-description .button-info:hover {
    background-color: rgb(102, 158, 192);
}

.hotel-search-form .button-search-form:active,
.hotel-description .button-info:active {
    background-color: rgb(84, 150, 189);
    color: rgba(255, 255, 255, 0.5);
}



/* END Hotel Search */

/* Inner Page Hotel */

.hotel-selection {
    min-height: 218px;
    background: url("../img/img-filter-background1200-562.jpg") no-repeat 0 0;
    padding: 27px 73px 8px 73px;
}

.hotel-selection-left {
    float: left;
    width: 50%;
    color: rgb(255, 255, 255);
}

.hotel-selection-left .infrastructure,
.hotel-selection-left .house-type {
    float: left;
    width: 50%;
    border: none;
    margin: 0;
    text-align: left;
    padding: 0;
}

.hotel-selection-left legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 28px;
}

.hotel-selection-left p {
    margin: 0;
    margin-bottom: 22px;
    padding-left: 25px;
}

.hotel-selection-left .infrastructure input,
.hotel-selection-left .house-type input {
    opacity: 0;
}

.hotel-selection-left label {
    cursor: pointer;
    position: relative;
}

.hotel-selection-left label::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -30px;
    width: 23px;
    height: 23px;
    background: url("../img/checkbox-off.png") no-repeat 50% 50%;
}

.hotel-selection-left input:checked + label::before {
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.png") no-repeat 50% 50%;
}

.hotel-selection-left input:disabled + label::before {
    width: 23px;
    height: 23px;
    background: url("../img/checkbox-off-dis.png") no-repeat 50% 50%;
}

.hotel-selection-left input:checked:disabled + label::before {
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on-dis.png") no-repeat 50% 50%;
}

.hotel-selection button {
    width: 138px;
    height: 36px;
    text-align: center;
    padding: 0 10px;
    background: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.hotel-selection-right {
    float: right;
    width: 328px;
    color: rgb(255, 255, 255);
    padding-left: 17px;
}

.range-filter {
    width: 319px;
    font-size: 0;
    margin-bottom: 32px;
}

.range-filter h4 {
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 13px;
    text-align: left;
}

.range-filter-controls {
    width: 307px;
    margin-bottom: 10px;
    padding: 19px 0 0px 15px;
    position: relative;
}

.range-filter-controls .scale {
    height: 2px;
    background: rgb(132, 124, 124);
    
}

.range-filter-controls .scale .bar {
    height: 2px;
    background: rgb(255, 255, 255);
    margin-left: 0px;
    margin-right: 53px;
}

.range-filter-controls .toggle {
    box-sizing: content-box;
    height: 4px;
    width: 4px;
    border: 8px solid rgb(255, 255, 255);
    background: rgb(171, 171, 171);
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(88, 83, 83, 0.5);
    cursor: pointer;
}

.range-filter-controls .toggle:hover {
    border: 10px solid rgb(255, 255, 255);
}

.range-filter-controls .toggle-min {
    position: absolute;
    top: 10px;
    left: 0;
}

.range-filter-controls .toggle-max {
    position: absolute;
    top: 10px;
    right: 39px;
}

.range-filter .price-controls {
    font-size: 14px;
    line-height: 21px;
    margin: 0 -5px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    position: relative;
}

.range-filter .price-controls::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    top: 3px;
    left: 50%;
    margin-left: -1px;
    background-color: rgb(255, 255, 255);
}

.range-filter .price-controls input[type="text"] {
    text-align-last: left;
    display: inline-block;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: inherit;
    margin-left: 3px;
    background: none;

}

.range-filter .min-price-label {
    margin-right: 80px;
    margin-left: 30px;
}

.hotel-selection button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.hotel-content {
    padding-bottom: 121px;
}

.hotel-content-row {
    min-height: 87px;
    font-size: 14px;
    text-align: left;
    padding-left: 73px;
    width: 60%;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel-content-row .result {
    font-size: 21px;
    font-weight: bold;
    float: left;
    width: 160px;
    padding-top: 10px;
}

#submit-result {
    border: none;
    width: 50px;
    background: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.hotel-sort-row {
    float: left;
    width: 390px;
}

.hotel-sort-row h4 {
    font-size: 12px;
    line-height: 18px;
    float: left;
    width: 80px;
    padding: 24px 0 0 4px;
}

.hotel-sort-row ul {
    padding: 0;
    float: left;
    width: 300px;
    padding-top: 26px;
    padding-left: 30px;
}

.hotel-sort-row li {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    list-style: none;
    padding: 0 8px;    
}

.hotel-sort-row li a {
    font-size: 12px;
    line-height: 18px;
    color: rgb(202, 202, 202);
    text-decoration:  rgb(129, 179, 210) dotted underline;
}

.hotel-sort-row li a:hover {
    color: rgb(129, 179, 210);
}

.hotel-sort-row li a:active {
    color: rgb(0, 0, 0);
    text-decoration:  none;
}

.hotel-sort-row li a.current-sort {
    color: rgb(129, 179, 210);
    text-decoration:  none;
}

.hotel-sort-row .sort-ascending,
.hotel-sort-row .sort-descendingly {
    font-size: 0;
    position: relative;
}

.hotel-sort-row .sort-ascending:before,
.hotel-sort-row .sort-descendingly:before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: -15px;
    left: 530px;
    background: url("../img/icon-up-dir.png") no-repeat 50% 50%;

}

.hotel-sort-row .sort-descendingly:before {
    transform: rotate(180deg);
}

.hotel-sort-row .current .sort-ascending:before {
    background: url("../img/icon-down-dir.png") no-repeat 50% 50%;
    transform: rotate(180deg);
}

.hotel-sort-row .current .sort-descendingly:before {
    background: url("../img/icon-down-dir.png") no-repeat 50% 50%;
}

.hotel-item-card {
    width: 100%;
    padding: 30px 73px;
    border-bottom: 1px solid rgb(229, 229, 229);
    height: 151px;
    text-align: left;
}

.hotel-item-card .hotel-image {
    float: left;
    width: 135px;
    height: 90px;
    overflow: hidden;
}

.hotel-item-card .hotel-description {
    float: left;
    width: 260px;
    margin-left: 30px;
}

.hotel-description h3 {
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
}

.hotel-description h3 a:hover {
    color: rgb(129, 179, 210);
}

.hotel-description h3 a:active {
    color: rgb(202, 202, 202);
}

.hotel-description .hotel-type,
.hotel-description .price {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 14px 0;
    margin: 0;
}

.hotel-description .price {
    margin-left: 40px;
}

.hotel-description .hotel-buttons {
    font-size: 0px;
}

.hotel-description .button-info,
.hotel-description .button-book {
    height: 27px;
    min-width: 110px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    color:  rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
}

.hotel-description .button-info {
    width: 110px;
    background-color: rgb(129, 179, 210);
    margin-right: 6px;
}

.hotel-description .button-book {
    width: 142px;
    background-color: rgb(118, 99, 87);
}

.hotel-item-card .hotel-rating {
    float: right;
    width: 130px;
    text-align: right;
}

.hotel-rating .rating {
    min-width: 111px;
    padding: 0 12px;
    height: 26px;
    line-height: 26px;
    color: rgb(102, 102, 102);
    background-color: rgb(242, 242, 242);
    text-align: center;
}

#rating-value {
    border: none;
    width: 25px;
    background: none;
    color: inherit;
}

.hotel-rating .stars {
    width: 111px;
    margin-bottom: 48px;
}

.hotel-rating .stars ul {
    padding: 0;
    font-size: 0;
}

.hotel-rating .stars ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.hotel-rating .stars ul a {
    display: block;
    width: 18px;
    height: 17px;
    background: url("../img/icon-star.png") no-repeat 50% 50%;
}


/* END Inner Page Hotel */


/* ============= /END Main ============================================================= */


/* ==========================================================================
 *  Footer
 * ========================================================================== */

#main-footer {
    min-height: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -120px;
    font-size: 0;
}

.footer-hashtag,
.footer-social,
.footer-developed {
    float: left;
    width: 33.33%;
}

.footer-hashtag {
    font-size: 21px;
    font-weight: bold;
    padding: 27px 0;
}

.footer-social {
    text-align: center;
    padding: 36px 0;
}

.footer-social .social-button {
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 48px;
    background-color: rgb(129, 179, 210);
    margin: 0 3px;
}

.footer-social .social-tw {
    background: rgb(129, 179, 210) url("../img/icon-twitter.png") no-repeat 50% 50%;
}

.footer-social .social-fb {
    background: rgb(129, 179, 210) url("../img/icon-facebook.png") no-repeat 50% 50%;
}

.footer-social .social-ytube {
    background: rgb(129, 179, 210) url("../img/icon-youtube.png") no-repeat 50% 50%;
}

.social-button:hover {
    background-color: rgba(102, 158, 192, 1)
}

.social-button:active {
    background-color: rgba(84, 150, 205, 0.6)
}

.footer-developed p:not(a) {
    font-size: 14px;
    padding-top: 21px;
}

.footer-developed p,
.footer-developed a {
    display: inline-block;
    vertical-align: middle;
}

.footer-developed a {
    width: 115px;
    height: 41px;
    background: url("../img/logo_academy.png") no-repeat 50% 50%;
    font-size: 0;
}

.footer-developed a:hover {
    background: url("../img/logo_academy-hover.png") no-repeat 50% 50%;
}

.footer-developed a:active {
    background: url("../img/logo_academy-active.png") no-repeat 50% 50%;
}


/* ============= /END Footer ============================================================= */

